<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>Update event</h3>
        <%= render partial: 'event_form', locals: {action: 'update', form_url: event_path, form_method: 'patch'} %>
    </div>
</div>
