<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>Create new event</h3>
        <%= render partial: 'event_form', locals: {action: 'create', form_url: events_path, form_method: 'post'} %>
    </div>
</div>
